<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/header") %>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/admin.css" />
    <link rel="stylesheet" href="/css/mdb.min.css" />
  </head>
  <%- include("partials/admin_nav") %>
  
  <div class="container-md my-5">
    <div class="pt-5 mb-4 d-flex justify-content-between">
      <h6 class="mb-0">
        <a href="/" class="text-body text-decoration-none"
          ><i class="fas fa-long-arrow-alt-left me-2"></i>Home</a
        >
      </h6>
      <h6 class="mb-0">
        <a href="/add-menu" class="text-body text-decoration-none"
          >Add menu<i class="fas fa-long-arrow-alt-right ms-2"></i></a
        >
      </h6>
    </div>
    <div class="shadow-4 rounded-7 table-responsive">
      <table class="table align-middle mb-0 bg-white">
        <thead class="bg-success text-white">
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Order</th>
            <th>Status</th>
            <th>Price</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% orders.forEach(order => { %>
            <% users.forEach(user => { %>
              
            <% if (order.userId == user._id) { %>
              <% let sum = 0 %>
              <% const mafaka = user.firstName + user._id %>
          <tr>
            <td><%= order._id %></td>
            <td>
              <div class="d-flex align-items-center">
                <img
                  src="./assets/icon.jpg"
                  alt=""
                  style="width: 45px; height: 45px"
                  class="rounded-circle"
                />
                <div class="ms-3">
                  <p class="fw-bold mb-1"><%= user.firstName %></p>
                  <p class="text-muted mb-0"><%= user.username %></p>
                </div>
              </div>
            </td>
            <td>
              <!-- Button trigger modal -->
              <button
                type="button"
                class="btn btn-outline-success dropdown-toggle"
                data-mdb-toggle="modal"
                data-mdb-target="#<%=  mafaka %>"
              ></button>

              <!-- Modal -->
              <div
                class="modal fade"
                id="<%= mafaka %>"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                      <button
                        type="button"
                        class="btn-close"
                        data-mdb-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    
                    <div class="modal-body text-start text-black p-4">
                      <h5
                        class="modal-title text-uppercase"
                        id="exampleModalLabel"
                      >
                      <%= user.firstName %> <%= user.lastName %>
                      </h5>
                      <p class="text-secondary mb-4">098-593-8108</p>
                      <h4 class="mb-4" style="color: #27ae60">
                        Thanks for your order
                      </h4>
                      <p class="mb-0" style="color: #27ae60">Payment summary</p>
                      <hr
                        class="mt-2 mb-4"
                        style="
                          height: 0;
                          background-color: transparent;
                          opacity: 0.75;
                          border-top: 2px dashed #9e9e9e;
                        "
                      />

                      

                      <% order.items.forEach(orderr => { %>
                        <% menus.forEach(menuu => { %>
                          
                        <% if (orderr.itemId == menuu._id) { %>
                      <div class="d-flex justify-content-between">
                        <p class="fw-bold mb-0"><%= menuu.title %></p>
                        <p class="text-muted mb-0">$<%= (orderr.quantity * menuu.price).toFixed(2) %></p>
                      </div>
                      <% sum += ((orderr.quantity * menuu.price))%>
                      <% } %>

                      <% }); %>
                      <% }); %>
         
                      
                      
                      <div class="d-flex justify-content-between">
                        <p class="small mb-0">Shipping</p>
                        <p class="small mb-0">$2.00</p>
                      </div>

                      <div class="d-flex justify-content-between pb-1">
                        <p class="small">Tax</p>
                        <p class="small">$0.00</p>
                      </div>

                      <div class="d-flex justify-content-between">
                        <p class="fw-bold">Total</p>
                        <p class="fw-bold" style="color: #27ae60">$<%= (sum+2).toFixed(2) %></p>
                      </div>
                    </div>
                    <div
                      class="modal-footer d-flex justify-content-center border-top-0 py-4"
                    >
                      <button
                        type="button"
                        class="btn btn-primary btn-lg mb-1"
                        style="background-color: #27ae60"
                      >
                        Track your order
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <span class="badge badge-danger rounded-pill status-<%= order.status %>"><%= order.status %></span>
            </td>
            <td>$ <%= (sum+2).toFixed(2) %></td>

            <td>
              <button type="button" class="btn btn-warning btn-sm btn-rounded" onclick="updateOrderStatus('<%= order._id %>', 'Cooking', 'admin')">
                Cook
              </button>
              <button type="button" class="btn btn-info btn-sm btn-rounded" onclick="updateOrderStatus('<%= order._id %>', 'Delivering', 'admin')">
                Delivery
              </button>
              <button type="button" class="btn btn-success btn-sm btn-rounded" onclick="updateOrderStatus('<%= order._id %>', 'Complete', 'admin')">
                Complete
              </button>
            </td>
          </tr>
          <% } %>
          <% }) %>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>

  <script>
    let statusCooking = $(".status-Cooking").text();
    let statusDelivering = $(".status-Delivering").text();
    let statusComplete = $(".status-Complete").text();
      if (statusCooking == "Cooking") {
    $(".status-Cooking").removeClass("badge-danger")
    $(".status-Cooking").addClass("badge-warning")
  } else if (statusDelivering == "Delivering") {
    $(".status-Delivering").removeClass("badge-danger")
    $(".status-Delivering").removeClass("badge-warning")
    $(".status-Delivering").addClass("badge-info")
  } else if (statusComplete == "Complete") {
    $(".status-Complete").removeClass("badge-danger")
    $(".status-Complete").removeClass("badge-warning")
    $(".status-Complete").removeClass("badge-info")
    $(".status-Complete").addClass("badge-success")
  }


    function updateOrderStatus(orderId, newStatus, role) {
  fetch('/order/update-status', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({ orderId, newStatus, role }),
  })
    .then((response) => {
      if (response.ok) {
        // Refresh the page when the status is updated successfully
        location.reload();
      } else {
        throw new Error('Failed to update order status');
      }
    })
    .catch((error) => {
      console.error('Error:', error);
    });
}

  </script>

  <!-- Bootstrap js -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"
  ></script>

  <!-- mdb js -->
  <script type="text/javascript" src="/js/mdb.min.js"></script>
</html>
