<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/header") %>
    <link rel="stylesheet" href="/css/mdb.min.css" />
    <link rel="stylesheet" href="/css/roundPill.css" />
  </head>
  <body>
    <%- include("partials/nav") %>
    <div class="container">
      <main>
        <div class="row p-5 d-flex align-items-center justify-content-center">
          <!-- <form action="/manage-menu" method="post"> -->
          <small>
            <div class="shadow-4 rounded-7 table-responsive">
              <table class="table align-middle mb-0 bg-white">
                <thead class="bg-success text-white">
                  <tr>
                    <th>Order Id</th>
                    <th>Places</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Price</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>    
                  
                  <% let count = 1 %>
                  
                  <% orders.forEach(order => { %>
                    <% let sum = 0 %>
                    <tr>
                      <td># <%= count %></td>
                      <td>
                        <div class="d-flex align-items-center">
                          <div class="ms-3">
                            <p class="fw-light mb-1">
                              <i
                                class="fa-solid fa-location-dot text-danger me-2"
                              ></i
                              ><small>Ghum Restaurant</small>
                            </p>
                            <p class="fw-light mb-1">
                              <i class="fa-solid fa-location-dot me-2"></i
                              ><small>
                                <%= user.address.location.address +", " + user.address.location.subDistrict +", "+ user.address.location.province +", "+ user.address.location.country +", "+ user.address.location.zip %>
                              </small>
                            </p>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="fw-light mb-1">
                          <small><%= order.orderDate%></small>
                        </p>
                      </td>
                      <td>
                        <span class="badge badge-<%= order.status%> rounded-pill"><%= order.status%></span>
                      </td>
                      <td><% (order.items).forEach(orderr => { %>
                        <% menus.forEach(menuu => { %>
                          <% if (orderr.itemId == menuu._id) { %>
                            <% sum += menuu.price * orderr.quantity %>
                          <% } %>
                        <% }); %>
                      <% }); %>
                    $<%= (sum+2).toFixed(2)  %>
                    </td>
                      <td>
                        <button
                          type="button"
                          class="btn btn-link btn-sm btn-rounded"
                        >
                          Details
                        </button>
                      </td>
                    </tr>

                    <% count++ %>
                  <% }); %>
                </tbody>
              </table>
            </div>
          </small>
          <!-- </form> -->
        </div>
      </main>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>
