<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/header") %>

    <!-- javaScript -->
    <!-- <script src="/js/index.js"></script> -->
    <!-- <script src="/controllers/menus.js"></script> -->

    <!-- <script src="/js/test"></script> -->
    <!-- CSS -->
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/carousel.css" />
    <link rel="stylesheet" href="/css/menu.css" />
    <link rel="stylesheet" href="/css/landing.css" />
    <link rel="stylesheet" href="/css/mdb.min.css" />
  </head>
  <body>
    <%- include("partials/nav") %>
    <section class="home" id="home">
      <div class="container">
        <div class="row d-flex justify-content-between align-items-center">
          <div class="col-lg-6 landing-left">
            <h1 class="left-title font-monospace text-break">
              Welcome To Ghum, <br />Where Deliciousness Awaits At Every Corner
            </h1>
            <h2 class="subtitle">
              Indulge In Heavenly Delights At Our Bakery Restaurant! From Fresh
              Bread To Decadent Pastries, Satisfy Your Cravings With Us.
            </h2>
            <div class="btn-section">
              <a href="#menu">
                <button class="btn btn-light btn-lg">Menu</button>
              </a>
              <a href="/about">
                <button class="btn btn-primary btn-lg">About Us</button>
              </a>
            </div>
          </div>
          <div class="col-lg-6 landing-right">
            <div class="container my-5 py-5">
              <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                  <!-- quote -->
                  <div class="text-center mb-4 pb-2">
                    <i class="fas fa-quote-left fa-3x text-white"></i>
                  </div>
                  <!-- quote -->
                  <div class="card">
                    <div class="card-body px-4 py-5">
                      <!-- Carousel wrapper -->
                      <div
                        id="carouselDarkVariant"
                        class="carousel slide carousel-dark"
                        data-mdb-ride="carousel"
                      >
                        <!-- Inner -->
                        <div class="carousel-inner pb-5">
                          <!-- Single item -->
                          <div class="carousel-item active">
                            <div class="row d-flex justify-content-center">
                              <div class="col-lg-10 col-xl-8">
                                <div class="row">
                                  <div class="d-flex justify-content-center">
                                    <img
                                      src="/images/item-1.jpeg"
                                      class="rounded-circle shadow-1 mb-4 mb-lg-0"
                                      alt=""
                                      width="200px"
                                      height="200px"
                                    />
                                  </div>
                                  <!-- <div class="food-title text-center mt-3 font-monospace">Buttermilk Pancakes $19.99</div> -->
                                </div>
                              </div>
                            </div>
                          </div>

                          <!-- Single item -->
                          <div class="carousel-item">
                            <div class="row d-flex justify-content-center">
                              <div class="col-lg-10 col-xl-8">
                                <div class="row">
                                  <div class="d-flex justify-content-center">
                                    <img
                                      src="/images/item-2.jpeg"
                                      class="rounded-circle shadow-1 mb-4 mb-lg-0"
                                      alt=""
                                      width="200px"
                                      height="200px"
                                    />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <!-- Single item -->
                          <div class="carousel-item">
                            <div class="row d-flex justify-content-center">
                              <div class="col-lg-10 col-xl-8">
                                <div class="row">
                                  <div class="d-flex justify-content-center">
                                    <img
                                      src="/images/item-3.jpeg"
                                      class="rounded-circle shadow-1 mb-4 mb-lg-0"
                                      alt=""
                                      width="200px"
                                      height="200px"
                                    />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Inner -->

                        <!-- Controls -->
                        <button
                          class="carousel-control-prev text-muted"
                          type="button"
                          data-mdb-target="#carouselDarkVariant"
                          data-mdb-slide="prev"
                        >
                          <span
                            class="carousel-control-prev-icon"
                            aria-hidden="true"
                          ></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button
                          class="carousel-control-next text-muted"
                          type="button"
                          data-mdb-target="#carouselDarkVariant"
                          data-mdb-slide="next"
                        >
                          <span
                            class="carousel-control-next-icon"
                            aria-hidden="true"
                          ></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                      <!-- Carousel wrapper -->
                    </div>
                  </div>
                  <!-- quote -->
                  <div class="text-center mt-4 pt-2">
                    <i class="fas fa-quote-right fa-3x text-white"></i>
                  </div>
                  <!-- quote -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="menu-background-pattern"></div>
      </div>
    </section>

    <!-- Menu -->
    <section class="menu" id="menu">
      <div class="container top">
        <div class="row">
          <!-- Search box -->
          <div class="col-lg-4 pt-3" style="text-align: center">
            <form class="form-inline position-relative">
              <input
                class="form-control"
                type="search"
                placeholder="Search"
                aria-label="Search"
                style="width: 50%; display: inline-block"
                onkeyup="clickmeDaddy()"
                id="input-search-bar"
              />
              <i class="fa-solid fa-magnifying-glass text-secondary"></i>
            </form>
          </div>
          <!-- End Search box -->

          <!-- Select Catetories -->
          <div class="col-lg-4 pt-3" style="text-align: center">
            <div class="w-50 mx-auto position-relative">
              <select
                class="custom-select form-control text-secondary"
                id="input-select-group"
              >
                <!-- <option value="breakfast">breakfast</option>
          <option value="lunch">lunch</option>
          <option value="shakes">shakes</option>
          <option value="dinner">diner</option> -->
                <option selected="" value="all">All</option>
              </select>
              <i class="fa-solid fa-angle-down"></i>
            </div>
          </div>
          <!-- End Select Catetories -->

          <!-- Select Sort -->
          <div class="col-lg-4 pt-3" style="text-align: center">
            <div class="w-50 mx-auto position-relative">
              <select
                class="custom-select form-control text-secondary"
                id="input-select-group"
              >
                <!-- <option value="breakfast">breakfast</option>
          <option value="lunch">lunch</option>
          <option value="shakes">shakes</option>
          <option value="dinner">diner</option> -->
                <option selected="" value="all">Sort</option>
              </select>
              <i class="fa-solid fa-arrow-down-wide-short"></i>
            </div>
          </div>
          <!-- End Select Sort -->
        </div>
      </div>

      <!-- Generate menu here -->
      <div class="section-center">
        <% menus.forEach(menu => { %>
        <article class="menu-item">
          <button class="border-0">
            <img
              src="<%= menu.img %>"
              alt="img : <%= menu.title  %>"
              class="photo clickable-image"
              onclick="addItemToCart('<%= userId %>', '<%= menu._id %>', 1)"
            />
          </button>

          <div class="item-info">
            <header>
              <h4><%= menu.title %></h4>
              <h4 class="price">$<%= menu.price %></h4>
            </header>
            <p class="item-text"><%= menu.desc %></p>
          </div>
        </article>
        <% }); %>
      </div>
    </section>
    <!-- Menu -->

    <!-- Toggle shopping cart -->
    <div class="container">
      <div class="shopping-cart">
        <div class="shopping-cart-header">
          <i class="fa fa-shopping-cart cart-icon"></i
          ><span class="badge bg-success rounded-pill cart-badge">0</span>
          <div class="shopping-cart-total">
            <span class="lighter-text">Total:</span>
            <span id="Total" class="main-color-text">$0</span>
          </div>
        </div>
        <a href=""></a>
        <ul class="shopping-cart-items">
          <% for( let i = 0; i < carts.length; i++ ) { %>
          <% menus.forEach(menu => { %> 
          <% if (carts[i].itemId == menu._id) { %>
          <li class="clearfix">
            <img src="<%=menu.img%>" alt="<%=menu.title%>" class="cart-img" />
            <span class="item-name"><%=menu.title%></span>
            <span class="item-price"><%=menu.price%></span>
            <span class="item-quantity"><%=carts[i].quantity%></span>
          </li>
          <% } %> 
          <% }); %> 
          <% } %>
        </ul>

        <a id="checkout-button" href="/checkout" class="button">Checkout</a>
        <a id="clear-button" href="#" class="button">Clear</a>
      </div>
    </div>
    <!-- End Toggle shopping cart -->

    <script>
      function addItemToCart(userId, itemId, quantity) {
        fetch("/cart/add", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ userId, itemId, quantity }),
        })
          .then((response) => location.reload())
          .then((result) => {
            console.log(result);
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    </script>

    <script src="/js/checkout.js"></script>
    <script src="/js/mdb.min.js"></script>
    <%- include("partials/footer") %>
    <script src="../js/index.js"></script>
  </body>
</html>
