<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/header") %>

    <!-- javaScript -->
    <!-- <script src="/js/index.js"></script> -->
    <!-- <script src="/controllers/menus.js"></script> -->

    <!-- CSS -->
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/carousel.css" />
    <link rel="stylesheet" href="/css/menu.css" />
    <link rel="stylesheet" href="/css/landing.css" />
    <link rel="stylesheet" href="/css/mdb.min.css" />

    <script>var menui = [
      {
        id: 0,
        title: "buttermilk pancakes",
        category: "breakfast",
        price: 15.99,
        img: "./images/item-1.jpeg",
        desc: `I'm baby woke mlkshk wolf bitters live-edge blue bottle, hammock freegan copper mug whatever cold-pressed `,
        quantity: 0,
      },
      {
        id: 1,
        title: "diner double",
        category: "lunch",
        price: 13.99,
        img: "./images/item-2.jpeg",
        desc: `vaporware iPhone mumblecore selvage raw denim slow-carb leggings gochujang helvetica man braid jianbing. Marfa thundercats `,
        quantity: 0,
      },
      {
        id: 2,
        title: "godzilla milkshake",
        category: "shakes",
        price: 6.99,
        img: "./images/item-3.jpeg",
        desc: `ombucha chillwave fanny pack 3 wolf moon street art photo booth before they sold out organic viral.`,
        quantity: 0,
      },
      {
        id: 3,
        title: "country delight",
        category: "breakfast",
        price: 20.99,
        img: "./images/item-4.jpeg",
        desc: `Shabby chic keffiyeh neutra snackwave pork belly shoreditch. Prism austin mlkshk truffaut, `,
        quantity: 0,
      },
      {
        id: 4,
        title: "egg attack",
        category: "lunch",
        price: 22.99,
        img: "./images/item-5.jpeg",
        desc: `franzen vegan pabst bicycle rights kickstarter pinterest meditation farm-to-table 90's pop-up `,
        quantity: 0,
      },
      {
        id: 5,
        title: "oreo dream",
        category: "shakes",
        price: 18.99,
        img: "./images/item-6.jpeg",
        desc: `Portland chicharrones ethical edison bulb, palo santo craft beer chia heirloom iPhone everyday`,
        quantity: 0,
      },
      {
        id: 6,
        title: "bacon overflow",
        category: "breakfast",
        price: 8.99,
        img: "./images/item-7.jpeg",
        desc: `carry jianbing normcore freegan. Viral single-origin coffee live-edge, pork belly cloud bread iceland put a bird `,
        quantity: 0,
      },
      {
        id: 7,
        title: "american classic",
        category: "lunch",
        price: 12.99,
        img: "./images/item-8.jpeg",
        desc: `on it tumblr kickstarter thundercats migas everyday carry squid palo santo leggings. Food truck truffaut  `,
        quantity: 0,
      },
      {
        id: 8,
        title: "quarantine buddy",
        category: "shakes",
        price: 16.99,
        img: "./images/item-9.jpeg",
        desc: `skateboard fam synth authentic semiotics. Live-edge lyft af, edison bulb yuccie crucifix microdosing.`,
        quantity: 0,
      },
      {
        id: 9,
        title: "bison steak",
        category: "dinner",
        price: 22.99,
        img: "./images/item-10.jpeg",
        desc: `skateboard fam synth authentic semiotics. Live-edge lyft af, edison bulb yuccie crucifix microdosing.`,
        quantity: 0,
      },
      {
        id: 10,
        title: "chicago deep dish pizza",
        category: "lunch",
        price: 13.45,
        img: "./images/item-11.jpg",
        desc: `Mouthwatering Chicago-style deep dish pizza with gooey cheese, savory tomato sauce, and a crispy buttery crust.`,
        quantity: 0,
      },
      {
        id: 11,
        title: "boston cream pie",
        category: "desert",
        price: 5.54,
        img: "./images/item-12.jpg",
        desc: `Decadent Boston cream pie with layers of fluffy sponge cake, silky vanilla custard, and rich chocolate glaze.`,
        quantity: 0,
      },
    ];
$(document).ready(function () {

  $("#input-select-group").change(function () {
    arc = document.querySelectorAll(".section-center article");
    arc.forEach(element => {
      element.style.display = ""
    });
    var val = $("#input-select-group option:selected").val();
    if (val == "all") {
      return
    }
    menui.forEach(menu => {
      if(menu.category != val) {
        arc[menu.id].style.display = "none"
      }
    });
    
    
    
  });});




    function search() {
          var input, filter, ul, li, a, i, txtValue;
          input = document.querySelector("#input-search-bar");
          filter = input.value.toUpperCase();
          arc = document.querySelectorAll(".section-center article");

  for (let i = 0; i < arc.length; i++) {

    txtValue = arc[i].children[1].children[0].children[0].innerHTML;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      arc[i].style.display = "";
    } else {
      arc[i].style.display = "none";
    }
    }
    }
    </script>
  </head>
  <body>
    <%- include("partials/nav") %>
    <section class="home" id="home">
      <div class="container">
        <div class="row d-flex justify-content-between align-items-center">
          <div class="col-lg-6 landing-left">
            <h1 class="left-title font-monospace text-break">
              Welcome To Ghum, <br />Where Deliciousness Awaits At Every Corner
            </h1>
            <h2 class="subtitle">
              Indulge In Heavenly Delights At Our Bakery Restaurant! From Fresh
              Bread To Decadent Pastries, Satisfy Your Cravings With Us.
            </h2>
            <div class="btn-section">
              <a href="#menu">
                <button class="btn btn-light btn-lg">Menu</button>
              </a>
              <a href="/about">
                <button class="btn btn-primary btn-lg">About Us</button>
              </a>
            </div>
          </div>
          <div class="col-lg-6 landing-right">
            <div class="container my-5 py-5">
              <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                  <!-- quote -->
                  <div class="text-center mb-4 pb-2">
                    <i class="fas fa-quote-left fa-3x text-white"></i>
                  </div>
                  <!-- quote -->
                  <div class="card">
                    <div class="card-body px-4 py-5">
                      <!-- Carousel wrapper -->
                      <div
                        id="carouselDarkVariant"
                        class="carousel slide carousel-dark"
                        data-mdb-ride="carousel"
                      >
                        <!-- Inner -->
                        <div class="carousel-inner pb-5">
                          <!-- Single item -->
                          <div class="carousel-item active">
                            <div class="row d-flex justify-content-center">
                              <div class="col-lg-10 col-xl-8">
                                <div class="row">
                                  <div class="d-flex justify-content-center">
                                    <img
                                      src="/images/item-1.jpeg"
                                      class="rounded-circle shadow-1 mb-4 mb-lg-0"
                                      alt=""
                                      width="200px"
                                      height="200px"
                                    />
                                  </div>
                                  <!-- <div class="food-title text-center mt-3 font-monospace">Buttermilk Pancakes $19.99</div> -->
                                </div>
                              </div>
                            </div>
                          </div>

                          <!-- Single item -->
                          <div class="carousel-item">
                            <div class="row d-flex justify-content-center">
                              <div class="col-lg-10 col-xl-8">
                                <div class="row">
                                  <div class="d-flex justify-content-center">
                                    <img
                                      src="/images/item-2.jpeg"
                                      class="rounded-circle shadow-1 mb-4 mb-lg-0"
                                      alt=""
                                      width="200px"
                                      height="200px"
                                    />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <!-- Single item -->
                          <div class="carousel-item">
                            <div class="row d-flex justify-content-center">
                              <div class="col-lg-10 col-xl-8">
                                <div class="row">
                                  <div class="d-flex justify-content-center">
                                    <img
                                      src="/images/item-3.jpeg"
                                      class="rounded-circle shadow-1 mb-4 mb-lg-0"
                                      alt=""
                                      width="200px"
                                      height="200px"
                                    />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Inner -->

                        <!-- Controls -->
                        <button
                          class="carousel-control-prev text-muted"
                          type="button"
                          data-mdb-target="#carouselDarkVariant"
                          data-mdb-slide="prev"
                        >
                          <span
                            class="carousel-control-prev-icon"
                            aria-hidden="true"
                          ></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button
                          class="carousel-control-next text-muted"
                          type="button"
                          data-mdb-target="#carouselDarkVariant"
                          data-mdb-slide="next"
                        >
                          <span
                            class="carousel-control-next-icon"
                            aria-hidden="true"
                          ></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                      <!-- Carousel wrapper -->
                    </div>
                  </div>
                  <!-- quote -->
                  <div class="text-center mt-4 pt-2">
                    <i class="fas fa-quote-right fa-3x text-white"></i>
                  </div>
                  <!-- quote -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="menu-background-pattern"></div>
      </div>
    </section>

    <!-- Menu -->
    <section class="menu" id="menu">
      <div class="container top">
        <div class="row">
          <!-- Search box -->
          <div class="col-lg-4 pt-3" style="text-align: center">
            <form class="form-inline position-relative">
              <input
                class="form-control"
                type="search"
                placeholder="Search"
                aria-label="Search"
                style="width: 50%; display: inline-block"
                onkeyup="search()"
                id="input-search-bar"
              />
              <i class="fa-solid fa-magnifying-glass text-secondary"></i>
            </form>
          </div>
          <!-- End Search box -->

          <!-- Select Catetories -->
          <div class="col-lg-4 pt-3" style="text-align: center">
            <div class="w-50 mx-auto position-relative">
              <select
                class="custom-select form-control text-secondary"
                id="input-select-group"
              >
                <option value="breakfast">breakfast</option>
          <option value="lunch" id="cat_lunch">lunch</option>
          <option value="shakes" id="cat_shakes">shakes</option>
          <option value="dinner" id="cat_dinner">diner</option>
                <option selected="" value="all">All</option>
              </select>
              <i class="fa-solid fa-angle-down"></i>
            </div>
          </div>
          <!-- End Select Catetories -->

          <!-- Select Sort -->
          <div class="col-lg-4 pt-3" style="text-align: center">
            <div class="w-50 mx-auto position-relative">
              <select
                class="custom-select form-control text-secondary"
                id="input-select-group"
              >
                <!-- <option value="breakfast">breakfast</option>
          <option value="lunch">lunch</option>
          <option value="shakes">shakes</option>
          <option value="dinner">diner</option> -->
                <option selected="" value="all">Sort</option>
              </select>
              <i class="fa-solid fa-arrow-down-wide-short"></i>
            </div>
          </div>
          <!-- End Select Sort -->
        </div>
      </div>

      <!-- Generate menu here -->
      <div class="section-center">
        <% menus.forEach(menu => { %>
        <article class="menu-item">
          <button class="border-0">
            <img
              src="<%= menu.img %>"
              alt="img : <%= menu.title  %>"
              class="photo clickable-image"
              onclick="addItemToCart('<%= userId %>', '<%= menu._id %>', 1)"
            />
          </button>

          <div class="item-info">
            <header>
              <h4><%= menu.title %></h4>
              <h4 class="price">$<%= menu.price %></h4>
            </header>
            <p class="item-text"><%= menu.desc %></p>
          </div>
        </article>
        <% }); %>
      </div>
    </section>
    <!-- Menu -->

    <!-- Toggle shopping cart -->
    <div class="container">
      <div class="shopping-cart">
        <div class="shopping-cart-header">
          <i class="fa fa-shopping-cart cart-icon"></i
          ><span class="badge bg-success rounded-pill cart-badge">
            <% if (carts != 0) { %>
              <%let sum = 0 %>
              <% for( let i = 0; i < carts.length; i++ ) { %>
                <% menus.forEach(menu => { %> 
                <% if (carts[i].itemId == menu._id) { %>
                    <% sum += carts[i].quantity%>
                <% } %> 
                <% }); %> 
                <% } %>
                <%= sum %>
              <% } else { %>
                <%= 0 %>
              <% } %>
            </span>
          <div class="shopping-cart-total">
            <span class="lighter-text">Total:</span>
            <span id="Total" class="main-color-text"><% if (carts != 0) { %>
              <%let sum = 0 %>
              <% for( let i = 0; i < carts.length; i++ ) { %>
                <% menus.forEach(menu => { %> 
                <% if (carts[i].itemId == menu._id) { %>
                    <% sum += carts[i].quantity * menu.price%>
                <% } %> 
                <% }); %> 
                <% } %>
                $<%= sum.toFixed(2) %>
              <% } else { %>
                $<%=  %>
              <% } %>
            </span>
          </div>
        </div>
        <a href=""></a>
        <ul class="shopping-cart-items">
          <% if (carts != 0) { %>

          
          <% for( let i = 0; i < carts.length; i++ ) { %>
          <% menus.forEach(menu => { %> 
          <% if (carts[i].itemId == menu._id) { %>
          <li class="clearfix">
            <img src="<%=menu.img%>" alt="<%=menu.title%>" class="cart-img" />
            <span class="item-name"><%=menu.title%></span>
            <span class="item-price"><%=menu.price%></span>
            <span class="item-quantity"><%=carts[i].quantity%></span>
          </li>
          <% } %> 
          <% }); %> 
          <% } %>
          <% } %>
        </ul>

        <a id="checkout-button" href="/checkout" class="button">Checkout</a>
        <a id="clear-button" href="#" class="button">Clear</a>
      </div>
    </div>
    <!-- End Toggle shopping cart -->

    <script>
      function addItemToCart(userId, itemId, quantity) {
        fetch("/cart/add", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ userId, itemId, quantity }),
        })
          .then((response) => location.reload())
          .then((result) => {
            console.log(result);
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    </script>

    <script src="/js/checkout.js"></script>
    <script src="/js/mdb.min.js"></script>
    <%- include("partials/footer") %>
    <script src="../js/index.js"></script>


  </body>
</html>
