<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/header") %>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <%- include("partials/nav") %>

    <section class="h-100 gradient-custom-2">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-lg-9 col-xl-7">
            <div class="card">
              <form action="/information" method="get">
                <div
                  class="rounded-top text-white d-flex flex-row"
                  style="background-color: #000; height: 200px"
                >
                  <div
                    class="ms-4 mt-5 d-flex flex-column"
                    style="width: 150px"
                  >
                    <img
                      src="./assets/icon.jpg"
                      alt="Generic placeholder image"
                      class="img-fluid img-thumbnail mt-4 mb-2"
                      style="width: 150px; z-index: 1"
                    />
                    <button
                      type="submit"
                      class="btn btn-outline-dark"
                      data-mdb-ripple-color="dark"
                      style="z-index: 1"
                    >
                      Edit profile
                    </button>
                  </div>
                  <div class="ms-3" style="margin-top: 130px">
                    <h5><%= user.firstName %> <%= user.lastName %></h5>
                    <% if (Object.keys(user.address.location).length != 0) { %>
                    <p>
                      <%= user.address.location.province %>, <%=
                      user.address.location.country %>
                    </p>
                    <% } else { %>
                    <p>No Address</p>
                    <% } %>
                  </div>
                </div>
              </form>
              <div class="p-4 text-black" style="background-color: #f8f9fa">
                <div class="d-flex justify-content-end text-center py-1">
                  <div>
                    <p class="mb-1 h5">3</p>
                    <p class="small text-muted mb-0">Orders</p>
                  </div>
                  <div class="px-3">
                    <p class="mb-1 h5">0</p>
                    <p class="small text-muted mb-0">Carts</p>
                  </div>
                  <div>
                    <p class="mb-1 h5">30</p>
                    <p class="small text-muted mb-0">Points</p>
                  </div>
                </div>
              </div>
              <div class="card-body p-4 text-black">
                <div class="mb-5">
                  <p class="lead fw-normal mb-1">Address</p>
                  <div class="p-4" style="background-color: #f8f9fa">
                    <% if (Object.keys(user.address.location).length != 0) { %>
                    <p>
                      <button
                        class="btn btn-outline-dark"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseExample"
                        aria-expanded="false"
                        aria-controls="collapseExample"
                      >
                        <i class="fa-solid fa-location-dot"></i>
                        <%= user.address.name %>
                        <i class="fa-solid fa-caret-down"></i>
                      </button>
                    </p>
                    <div class="collapse" id="collapseExample">
                      <div class="card card-body">
                        <p class="font-italic mb-1">
                          <%= user.address.location.address %>, <%=
                          user.address.location.subDistrict %>, <%=
                          user.address.location.district %>
                        </p>
                        <p class="font-italic mb-0">
                          <%= user.address.location.province %>, <%=
                          user.address.location.country %>, <%= user.address.location.zip
                          %>
                        </p>
                        <% } else { %>
                        <p>No Address</p>
                        <% } %>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="d-flex justify-content-between align-items-center mb-4"
                >
                  <p class="lead fw-normal mb-0">Recent orders</p>
                  <p class="mb-0">
                    <a href="#!" class="text-muted">Show all</a>
                  </p>
                </div>
                <small>
                  <div class="shadow-4 rounded-7 table-responsive">
                    <table class="table align-middle mb-0 bg-white">
                      <tbody>
                        <%  %>
                        <tr>
                          <td># 1</td>
                          <td>
                            <div class="d-flex align-items-center">
                              <div class="ms-3">
                                <p class="fw-light mb-1">
                                  <i
                                    class="fa-solid fa-location-dot text-danger me-2"
                                  ></i
                                  ><small>Ghum Restaurant</small>
                                </p>
                                <p class="fw-light mb-1">
                                  <i class="fa-solid fa-location-dot me-2"></i
                                  ><small>My house</small>
                                </p>
                              </div>
                            </div>
                          </td>
                          <td>
                            <p class="fw-light mb-1">
                              <small>28 Mar 2023 11:14</small>
                            </p>
                          </td>
                          <td>
                            <span class="badge badge-success rounded-pill"
                              >Done</span
                            >
                          </td>
                          <td>$ 20.99</td>
                          <td>
                            <button
                              type="button"
                              class="btn btn-link btn-sm btn-rounded"
                            >
                              Details
                            </button>
                          </td>
                        </tr>
                        <%  %>
                      </tbody>
                    </table>
                  </div>
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include("partials/footer") %>
  </body>
</html>
