<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/header") %>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/status.css" />
  </head>
  <body>
    <%- include("partials/nav") %>
    <section class="h-100" style="background-color: #eee">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-8">
            <div
              class="card border-top border-bottom border-3"
              style="border-color: #27ae60 !important"
            >
              <div class="card-body p-5">
                <!-- Start Status -->
                <% orders.forEach(order => { %>
                 <% if (order.status != 'Complete') { %>
                <h1 class="lead fw-bold title-status-<%= order.status %>" style="color: #27ae60">Waiting for confirmation</h1>
                <p class="sub-lead text-secondary mb-4 sub-title-status-<%= order.status %>">Processing...</p>
                <div class="card-dividerRow mb-4">
                  <p class="icon -fa-utensils card-dividerText active-fixed">
                    <i class="fa-solid fa-utensils"></i>
                  </p>

                  <div class="card-dividerLine line-fa-bowl-food"></div>
                  <p class="icon -fa-bowl-food card-dividerText">
                    <i class="fa-solid fa-bowl-food"></i>
                  </p>

                  <div class="card-dividerLine line-fa-motorcycle"></div>
                  <p class="icon -fa-motorcycle card-dividerText">
                    <i class="fa-solid fa-motorcycle"></i>
                  </p>

                  <div class="card-dividerLine line-fa-location-dot"></div>
                  <p class="icon -fa-location-dot card-dividerText">
                    <i class="fa-solid fa-location-dot"></i>
                  </p>
                </div>
                <p class="text-secondary">Order No. <%= order._id %></p>
                <% } %>
                <% }) %>
                <!-- End Status -->
                <p class="fw-light mb-1">
                  <i class="fa-solid fa-location-dot text-danger me-2"></i
                  ><span>Ghum Restaurant</span>
                </p>
                <p class="fw-light mb-4">
                  <i class="fa-solid fa-location-dot me-2"></i>
                  <span id="address"
                    ><%= user.address.location.address %>, <%=
                    user.address.location.subDistrict %>, <%=
                    user.address.location.district %> <%=
                    user.address.location.province %>, <%=
                    user.address.location.country %>, <%=
                    user.address.location.zip %>
                  </span>
                </p>

                <div
                  id="map"
                  style="width: 600px; height: 400px"
                  class="w-100 mb-4"
                ></div>
                <p class="mb-0 fw-bold" style="color: #27ae60">
                  Payment summary
                </p>
                <hr
                  class="mt-2 mb-4"
                  style="
                    height: 0;
                    background-color: transparent;
                    opacity: 0.75;
                    border-top: 2px dashed #9e9e9e;
                  "
                />

                <div class="d-flex justify-content-between">
                  <p class="fw-bold mb-0">buttermilk pancakes(Qty:1)</p>
                  <p class="text-muted mb-0">$15.99</p>
                </div>

                <div class="d-flex justify-content-between">
                  <p class="small mb-0">Shipping</p>
                  <p class="small mb-0">$2.00</p>
                </div>

                <div class="d-flex justify-content-between pb-1">
                  <p class="small">Tax</p>
                  <p class="small">$0.00</p>
                </div>

                <div class="d-flex justify-content-between">
                  <p class="fw-bold">Total</p>
                  <p class="fw-bold" style="color: #27ae60">$20.99</p>
                </div>

                <div class="pt-3">
                  <h6 class="mb-0">
                    <a href="/" class="text-body text-decoration-none"
                      ><i class="fas fa-long-arrow-alt-left me-2"></i>Back to
                      shop</a
                    >
                  </h6>
                </div>

                <p class="mt-4 pt-2 mb-0">
                  Want any help?
                  <a href="#" style="color: #27ae60">Please contact us</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      let titleCooking = $(".title-status-Cooking").text()
      let titleDelivering = $(".title-status-Delivering").text()
      let titleComplete = $(".title-status-Complete").text()

      if (titleCooking == "Waiting for confirmation") {
        $(".title-status-Cooking").text("Preparing order")
        $(".sub-title-status-Cooking").text("5 mins until arrival (approx.)")
        $(".-fa-bowl-food").addClass("active")
        $(".line-fa-bowl-food").addClass("active")
      } else if (titleDelivering == "Waiting for confirmation") {
        $(".title-status-Delivering").text("On the way")
        $(".sub-title-status-Delivering").text("5 mins until arrival (approx.)")
        $(".-fa-bowl-food").addClass("active")
        $(".line-fa-bowl-food").addClass("active")
        $(".-fa-motorcycle").addClass("active")
        $(".line-fa-motorcycle").addClass("active")
      } else if (titleComplete == "Waiting for confirmation") {
        $(".title-status-Complete").text("Arrived at the destination")
        $(".sub-title-status-Complete").text("Thank you ❤")
        $(".-fa-bowl-food").addClass("active")
        $(".line-fa-bowl-food").addClass("active")
        $(".-fa-motorcycle").addClass("active")
        $(".line-fa-motorcycle").addClass("active")
        $(".-fa-location-dot").addClass("active")
        $(".line-fa-location-dot").addClass("active")
      }
      
      const address = $("#address").text();
      const apiKey = "AIzaSyB_w3ntqlpIvJhv8JJDhMMq4wRazbhs1MM";
    </script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_w3ntqlpIvJhv8JJDhMMq4wRazbhs1MM&language=en&callback=initMap"
      async
      defer
    ></script>
    <script src="/js/map.js"></script>
    <%- include("partials/footer") %>
  </body>
</html>
